# Base de datos
DB_PATH=path/to/db
# Embeddings
JSON_PATH=path/to/embeddingsJSON
# Ollama
OLLAMA_URL=URL OLLAMA 
OLLAMA_MODEL_EMBEDDINGS= OLLAMA EMBEDDING MODEL
OLLAMA_MODEL_LLM=OLLAMA LLM MODEL
# Node
NODE_ENV=development